<!DOCTYPE html>
<!-- saved from url=(0062)http://www.riaxe.com/marketplace/thin-admin/static_table.html# -->
<html class=" js "><head><meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Site</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Bootstrap -->
<link href="../stylesheets/bootstrap.css" rel="stylesheet" media="screen">
<link href="../stylesheets/font-awesome.css" rel="stylesheet" media="screen">
<link href="../stylesheets/style.css" rel="stylesheet">

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->


</head>
<body cz-shortcut-listen="true">
<div class="container">
  <div class="top-navbar header b-b">
    <div class="brand pull-left"> <a href="index.html"><img src="../images/logo.png" width="147" height="33"></a></div>
    <ul class="nav navbar-nav navbar-right  hidden-xs">
      <li class="dropdown user  hidden-xs">
        <a data-toggle="dropdown" class="dropdown-toggle"> <i class="icon-male"></i>
          <span class="username">John Doe</span> <i class="icon-caret-down small"></i>
        </a>
        <ul class="dropdown-menu">
          <li><a href="login.html"><i class="icon-key"></i> 登出</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>
<div class="wrapper">
  <div class="left-nav">
    <div id="side-nav">
      <ul id="nav">
        <li>
          <a href="member.html">  <i class="icon-male"></i> 會員管理 </a>
        </li>
        <li>
          <a href="slider.html"> <i class="icon-dashboard"></i> 輪播管理</a>
        </li>
        <li>
          <a href="article.html"> <i class="icon-edit"></i> 文章管理 </a>
        </li>
      </ul>
    </div>
  </div>
  <%= yield %>
</div>
<div class="bottom-nav footer"> 2014 ©  </div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
<script src="./javascripts/jquery.js"></script> 
<script src="./javascripts/bootstrap.min.js"></script> 

<sfmsg id="sfMsgId" data="{&quot;imageCount&quot;:0,&quot;ip&quot;:&quot;1.1.1.1&quot;}"></sfmsg>
<%= livereload_js %>
</body></html>